MLFLOW_TRACKING_URI=http://185.50.38.163:33014
MLFLOW_TRACKING_USERNAME=student_your_username
MLFLOW_TRACKING_PASSWORD=your_mlflow_password
STUDENT_USERNAME=student_your_username
MLFLOW_EXPERIMENT_NAME=qbc12_hw02_student_your_username
MLFLOW_RUN_ID=
PREDICTION_THRESHOLD=0.5
